@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.logo1 {

    padding-top: 25px;
}

header {

    display: flex;
    max-width: 1600px;
    padding-left: 230px;
    height: 100px;

}

body {

    /* основное содержимое */
    position: relative;
    /* боковая колонка перемещается в рамках основного содержания */
    margin: 0 auto;
    /* сайт располагается по центру экрана */
    max-width: 1600px;
    /* резиновая, растягивается до значения в 1200px */

}

.button1 {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.buttonpassion {
    padding-top: 35px;
    padding-left: 37px;
}

.button1:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.d1 {
    margin-top: 35px;

}

.d1 input {
    position: absolute;
    /* Style for "Rounded Re" */
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    /* Text style for "S, earch f" */
    letter-spacing: 0.35px;
    width: 317px;
    height: 35px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.d1 a img {
    position: relative;
    margin-top: 5px;
    margin-left: 285px;
    height: 30px;
    width: 30px;

    background-color: #ffffff;
}

.d1 a:hover {
    padding: 2px 0px 0 0;
}

.basket {
    padding-top: 35px;
    padding-left: 360px;
    border: none;
    width: 32px;
    height: 29px;
    background-color: #ffffff;
}

.basket a :hover {
    margin: 2px 2px;
}

.buttonmy button {
    margin-top: 31px;
    margin-left: 26px;
    width: 130px;
    border: none;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    /* Text style for "M, y Accou" */
    letter-spacing: 0.38px;
}

.buttonmy button:hover {
    color: #fefefe;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

nav {
    max-width: 1600px;
    padding-left: 230px;
    margin-bottom: 20px;


}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 195px;
    list-style: none;
    width: 680px;
    height: 10px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul li :hover {
    text-decoration: underline;
}

nav ul li :active {
    color: brown;
}

main {

    height: 100wh;
}

footer {

    height: 79px;
    background-color: #e6e6e6;
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;

}

footer span {
    padding-left: 50px;
    padding-top: 20px;
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    /* Text style for "©,  2017" */
    letter-spacing: 0.4px;
}

.iconfooter i {
    transition: all .7s ease;
    padding-top: 20px;
    padding-right: 40px;
    width: 32px;

}

.iconfooter a {

    color: #b2b2b2;
    font-family: "Font Awesome";
    font-size: 46px;
    font-weight: 400;
    line-height: 42px;


}

.iconfooter a :hover {
    color: #f16d7f;
}

main {
    min-height: 100%;
}

.slade1 {
    position: relative;
    width: 1610px;
    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    justify-content: space-between;
}

.slade1 h3 {
    padding-top: 60px;
    ;
    padding-left: 234px;
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.sl1menu {
    padding-top: 60px;
    padding-right: 234px;

}

.sl1menu a {
    transition: all .7s ease;
    text-decoration: none;
    color: #636363;
    font-family: "Lato - Light";
    font-weight: 300;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.sl1menu a:hover {
    color: #f16d7f;
}

.sl1menu a:focus {
    font-family: "Lato - Bold";
    font-weight: 700;
    color: #f16d7f;
}

.podmenu {
    padding-left: 20px;
    display: none;
    
}

.podmenu li a {
    transition: all .3s ease;
    text-decoration: none;
    list-style-type: none;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    line-height: 33px;
}

.menuleft li:hover:first-child .podmenu {
    display: block;

}

.menuleft a {
    color: #ef5b70;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;

}

.menuleft {
    display: flex;
    margin-top: 30px;
    padding-left: 230px;
}

.menuleft ul li {
    padding-bottom: 10px;
    list-style-type: none;
}

.menuleft ul a:hover {
    color: #6f6e6e;
}

.podmenu li a:hover {
    color: darkorange;
}

.redline {
    width: 5px;
    height: 37px;
    padding-right: 10px;

}


.trending h2 {
    padding-bottom: 10px;
}

.trending h2 {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.trending span {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

}

.size {
    padding-left: 50px;
    width: 214px;
}

.size p {
    padding-bottom: 15px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.size label {
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 15px;
}

.size label input {
    margin-right: 5px;
}

.razmer {
    position: absolute;
    display: flex;
    margin-left: 250px;
}

