@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

.logo1 {
    padding-top: 25px;
    padding-left: 5px;
}

header {
    display: flex;
    max-width: 1600px;
    padding-left: 230px;
    height: 100px;

}

body {

    /* основное содержимое */
    position: relative;
    /* боковая колонка перемещается в рамках основного содержания */
    margin: 0 auto;
    /* сайт располагается по центру экрана */
    max-width: 1600px;
    /* резиновая, растягивается до значения в 1200px */

}

.button1 {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.buttonpassion {
    padding-top: 35px;
    padding-left: 37px;
}

.button1:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.d1 {
    margin-top: 35px;

}

.d1 input {
    position: absolute;
    /* Style for "Rounded Re" */
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    /* Text style for "S, earch f" */
    letter-spacing: 0.35px;
    width: 317px;
    height: 35px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.d1 a img {
    position: relative;
    margin-top: 5px;
    margin-left: 285px;
    height: 30px;
    width: 30px;

    background-color: #ffffff;
}

.d1 a:hover {
    padding: 2px 0px 0 0;
}

.basket {
    padding-top: 35px;
    padding-left: 360px;
    border: none;
    width: 32px;
    height: 29px;
    background-color: #ffffff;
}

.basket a :hover {
    margin: 2px 2px;
}

.buttonmy button {
    margin-top: 31px;
    margin-left: 26px;
    width: 130px;
    border: none;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    /* Text style for "M, y Accou" */
    letter-spacing: 0.38px;
}

.buttonmy button:hover {
    color: #fefefe;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

nav {
    max-width: 1600px;
    padding-left: 230px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 195px;
    list-style: none;
    width: 680px;
    height: 10px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul li :hover {
    text-decoration: underline;
}

nav ul li :active {
    color: brown;
}

main {

    max-width: 1600px;
    height: 610px;
    background-image: url(../img/Layer_24.png);
    background-position-x: right;
}

.brand {
    margin-top: -35px;
    margin-left: 19px;
    width: 485px;
    height: 92px;
}

.brand h2 {
    margin-top: 35px;
    margin-bottom: -20px;
    color: #222222;
    font-family: "Lato - Black";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1.5px;

}

.brand h3 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 40px;

}

.brand span {
    color: #f16d7f;
    position: absolute;
}

.gbrand {
    margin-top: 20px;
    width: 485px;
    height: 92px;
    display: flex;
}

.positionbrand {
    position: absolute;
    display: flex;
    margin-top: 235px;
    margin-left: 236px;
}


.slade2 {

    margin-top: 545px;
    padding-left: 180px;
    max-width: 1606px;
}

.slade2st1 {
    margin-top: 15px;
    position: absolute;
    top: 767px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;

}

.slade2st2 {
    position: absolute;
    width: 800px;
    margin-left: 602px;

}

.slade2st2 img {
    margin-bottom: 20px;
}

.sl1pic1 {
    position: relative;
    width: 200px;
    height: 82px;
    background-color: #ffffff;
}

.sl1pic1 a :hover {
    font-weight: bold;
}

.sl1pic1 h3 {
    position: absolute;
    margin-top: -526px;
    background: #ffffff;
    color: #222222;
    font-family: "Lato - Black";
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    width: 180px;
    text-align: center;
}

.sl1pic1 h3 span {
    color: #f16d7f;
}


.acssories1 a h3 {
    position: absolute;
    margin-top: -210px;
    width: 225px;
    height: 60px;
    color: #222222;
    font-family: "Lato - Black";
    background-color: #ffffff;
    text-align: center;
    padding-top: 5px;
    font-weight: 400;

}

.acssories1 a span {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.acssories1 img {
    width: 560px;
    height: 260px;
}

.acssories1 a h3 :hover {
    font-weight: bold;
}

.woman h3 {
    position: relative;
    top: -260px;
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato - Black";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "30% offer" */
    letter-spacing: 0.45px;
    text-align: center;
    padding-top: 10px;

}

.woman a {
    text-decoration: none;
}

.woman h3 span {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.woman {
    width: 560px;
    height: 261px;
    margin-bottom: 20px;
}

.kids h3 {
    position: relative;
    padding-top: 20px;
    top: -520px;
    width: 180px;
    height: 75px;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

}

.kids a {
    text-decoration: none;
    text-align: center;
}

.kids h3 span {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.woman a :hover {
    font-weight: bold;
}

.kids a :hover {
    font-weight: bold;
}

.slade3 {
    margin-top: 1450px;
    max-width: 1600px;

}

.slade3 h2 {
    text-align: center;

    height: 23px;
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    /* Text style for "Fetured It" */
    letter-spacing: 0.75px;
}

.slade3 h3 {
    text-align: center;

    height: 12px;
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    /* Text style for "S, hop for" */
    letter-spacing: 0.35px;
}

.acssories1 {
    margin-top: 480px;
    width: 560px;
    height: 261px;

}

.image {
    display: flex;
    padding-left: 30px;
    padding-bottom: 110px;
    float: left;
    justify-content: center;
}

.image h3 {
    position: absolute;
    margin-top: 290px;
    width: 200px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.image span {
    width: 0px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.image:hover .add_to_cart {
    display: flex;
    background-image: url(/img/1_copy.png.png);
    width: 261px;
    height: 160px;
    opacity: .8;

}

.product {
    padding-top: 15px;
    padding-left: 175px;
    width: 1400px;
    height: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
}

.add_to_cart {
    display: none;
    position: absolute;
    padding-top: 125px;
}

.add_to_cart img {
    position: absolute;
    height: 40px;
    left: 45px;
    top: 115px;
}

.add_to_cart a {
    color: #ffffff;
    font-family: Lato;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 100px;
}




.buttonAllProduct {
    position: absolute;
    margin-top: 30px;
    margin-left: 650px;
    text-decoration: none;
    text-align: center;
    padding: 9px 13px;
    border: solid 1px #004F72;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    font: 24px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #f50e57;
    background-image: -moz-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    background-image: -webkit-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    background-image: -o-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    background-image: -ms-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f50a4c', endColorstr='#f50a4c', GradientType=0);
    background-image: linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa;
    -moz-box-shadow: 0px 0px 2px #bababa;
    box-shadow: 0px 0px 2px #bababa;

}

.buttonAllProduct:hover {
    padding: 9px 13px;
    border: solid 1px #004F72;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    font: 24px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #f50e57;
    background-image: -moz-linear-gradient(top, #f50e57 0%, #1b368f 100%);
    background-image: -webkit-linear-gradient(top, #f50e57 0%, #1b368f 100%);
    background-image: -o-linear-gradient(top, #f50e57 0%, #1b368f 100%);
    background-image: -ms-linear-gradient(top, #f50e57 0%, #1b368f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b368f', endColorstr='#1b368f', GradientType=0);
    background-image: linear-gradient(top, #f50e57 0%, #1b368f 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa;
    -moz-box-shadow: 0px 0px 2px #bababa;
    box-shadow: 0px 0px 2px #bababa;

}

.buttonAllProduct:active {
    padding: 9px 13px;
    border: solid 1px #004F72;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    font: 24px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #f50e57;
    background-image: -moz-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    background-image: -webkit-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    background-image: -o-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    background-image: -ms-linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f50a4c', endColorstr='#f50a4c', GradientType=0);
    background-image: linear-gradient(top, #f50e57 0%, #f50a4c 100%);
    -webkit-box-shadow: -10px -6px 4px #bababa;
    -moz-box-shadow: -10px -6px 4px #bababa;
    box-shadow: -10px -6px 4px #bababa;
}

.backgrimg {
    position: relative;
    background-image: url(/img/Layer_39.png);
    background-size: cover;
    width: 767px;
    height: 529px;
    z-index: 2;
    opacity: 1;
}

.backgrimg img {
    position: relative;
    z-index: 1;
    opacity: 0.8;
}

.slade4 {
    position: absolute;
    margin-top: 150px;
    margin-left: 210px;
    width: 1140px;
    height: 529px;
    background-color: #222224;
}


.fas fa-truck {}

.cars {
    padding-top: 25px;
    width: 45px;
    height: 32px;
    color: #f16d7f;
    font-size: 20px;
}

.slade4nav {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 40px;
    left: 800px;
}

.carstext {
    display: flex;
    margin-bottom: 30px;
}

.sl4textposition {
    padding-left: 30px;

}

.sl4textposition h3 {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    /* Text style for "Free Deliv" */
    letter-spacing: 0.5px;
}

.sl4textposition span {
    width: 219px;
    height: 58px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "W, orldwid" */
    letter-spacing: 0.35px;
    display: flex;
    align-items: center;

}

.slade5 {
    width: 1618px;
    height: 438px;
    margin-top: 778px;
    background-image: url(/img/Rectangle_9_copy.png);
    z-index: 2;

}

.backslade5 {
    z-index: 1;
    opacity: 0.7;
}

.vertrazdelenie {
    position: relative;
    top: -441px;
    left: 50%;
    opacity: 0.5;
    width: 1px;
    height: 437px;
    background-color: #ffffff;
}

.opisanie {
    display: flex;
    position: relative;
    top: -340px;
    left: 210px;

}

.foto {
    width: 83px;
    height: 83px;
    padding-top: 10px;
    padding-right: 20px;
}

.windowtext1 {}

.text1 {
    width: 386px;
    height: 68px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.text2 {
    position: absolute;
    top: 0px;
    display: none;
    width: 386px;
    height: 68px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
}


}

.textbut1 .textbut2:hover {
    background-color: #f16d7f;
}

.text2,
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .text2 {
    display: block;
}

/* Стилизация псевдокнопки */
.btn {
    display: inline-block;
    position: absolute;
    top: 141px;
    left: 106px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    box-shadow: 2px 2px 0 0;
    cursor: pointer;
}

.btn1 {
    display: inline-block;
    position: absolute;
    top: 141px;
    left: 150px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    box-shadow: 2px 2px 0 0;
    cursor: pointer;
}


.subscribe {
    align-items: center;
    width: 277px;
height: 41px;
color: #222224;
font-family: Lato;
font-size: 14px;
font-weight: 400;
}

.subtext {
 
   position: relative;
    top: -870px;
    left: 1000px
    
}
